.small-card {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}

.small-card img {
  width: 200px;
  border-radius: 1rem;
}

.small-card h4 {
  color: #ff3b77;
  margin-bottom: 0.5rem;
}
