.card {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}

.cover-image {
  width: 200px;
  border-radius: 1rem;
}

.category {
  color: #ff3b77;
  margin-bottom: 0.5rem;
}

.title {
  cursor: pointer;
}
