.main-card {
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main-card div {
  width: 500px;
}

.cover-image {
  width: 500px;
  height: 300px;

  border-radius: 1rem;
}

.category {
  color: #ff3b77;
  margin-bottom: 0.5rem;
}

.title {
  cursor: pointer;
}
